<nav class="navbar navbar-expand-md navbar-dark topnav">

  <a href="#" class="navbar-brand">
    <img id="icon" src="../../../../../assets/imgs/CartoPoc.png" alt="">
  </a>

  <div class="collapse navbar-collapse justify-content-end" id="navbarCollapse">
    <div>
      <ul class="navbar-nav">
        <ng-container *ngIf="isAuth()">
        <li class="nav-item">
          <a class="nav-link text-dark" routerLink="home" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Point of Interest </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" routerLink="geocoding" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">GeoCoding</a>
        </li>
        <li class="nav-item" *ngIf="isAdmin()">
          <!-- And logged profile is Admin -->
          <a class="nav-link text-dark" routerLink="accounts" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Accounts </a>
        </li>
          <li class="nav-item">
              <a class="nav-link text-dark" routerLink="" (click)="logout()" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Log Out </a>
          </li>
        </ng-container>
        <ng-container *ngIf="!isAuth()">
          <li class="nav-item">
            <a class="nav-link text-dark" routerLink="auth"  routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"> Sign up </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" routerLink="login"  routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"> Sign in </a>
          </li>
        </ng-container>
      </ul>
    </div>
  </div>
</nav>
