#icon {
  width: 50px;
  height: 50px;
  text-align: left;
}

.topnav {
  background-color: #bdc3c7;
  padding: 0 0.5rem 0 0.5rem;
}

.nav-item {

  &:hover {
    background-color: #2ecc71;
  }

  a.nav-link.active {
    text-decoration-color: white;
    color: white;
    background-color: #53a5e9;
  }

  a {
    padding: 1rem 2rem 1rem 2rem;
    margin: 0;
  }
}

.noHover {
  padding-top: 1rem;
  background-color: #bdc3c7 !important;
}

.noHover:hover {
  padding-top: 1rem;
  background-color: #2ecc71 !important;
}

.navbar-brand {
  padding: 0;
}
