// Variables SASS

/************************************************** NGMS COLORS *******************************************************/

$white-smoke:                 #edf0f4;
$silver:                      #bdc3c7;
$peter-river:                 #3498db;
$cornflower-blue:             #53a5e9;
$emerland:                    #2ecc71;
$nephritis:                   #27ae60;


/************************************************** NGMS Modals *******************************************************/

$modal-inner-padding:         15px !default;

$modal-dialog-margin:         10px !default;
$modal-dialog-margin-y-sm-up: 25px !default;

$modal-header-border-color:   $silver !default;
$modal-header-padding:        15px !default;
$modal-footer-border-color:   $silver !default;
$modal-content-bg:            $white-smoke !default;
$modal-content-border-color:  $silver !default;
$modal-backdrop-bg:           black !default;
$modal-backdrop-opacity:      .5 !default;



/************************************************** NGMS Buttons ******************************************************/

$input-bg:                    $emerland;
$input-border-color:          $silver;
