
<div class="container">
<br>

<div class="row justify-content-center" >
<div class="col-md-6">
<div class="card">
<header class="card-header">
	<a  href="/login" class="float-right btn btn-outline-primary mt-1 sign-in font-weight-bold">Sign In</a>
	<h4 class="card-title mt-2">
    <img src="../../../.././../assets/imgs/CartoPoc.png" id="icon" alt="User Icon" width="50" height="50"/> Sign Up</h4>
</header>
<article class="card-body">
<form [formGroup]="userForm"  (ngSubmit)="onSubmitForm()">
	<div class="form-row">
		<div class="col form-group">
			<label > Lastname </label>
		  	<input type="text" class="form-control" placeholder="" formControlName="lastname">
		</div>
		<div class="col form-group">
			<label>Firstname</label>
		  	<input type="text" class="form-control" placeholder=" " formControlName="firstname">
		</div>
	</div>
	<div class="form-group">
		<label>Email</label>
		<input type="email" class="form-control" placeholder="" formControlName="email">
	</div>


	<div class="form-group">
		<label>Password</label>
	    <input class="form-control" type="password" formControlName="password">
	</div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block sign-up font-weight-bold"> Sign Up  </button>
	</div>
	<ng-container *ngIf="isValid && isSubmitted">
		<div class="alert alert-success" >Account created !</div>
	</ng-container>
	<ng-container *ngIf="!isValid && isSubmitted">
		<div class="alert alert-danger">Error - Account not created </div>
	</ng-container>
</form>
</article>
<div class="border-top card-body text-center"> Already have an account ?  <a href="/login" class="font-weight-bold">Sign In</a></div>
</div>
</div>

</div>


</div>
