<form #attachForm="ngForm" novalidate>
  <div class="modal fade" id="attachOtherCategoryModal" tabindex="-1" aria-labelledby="attachOtherCategoryModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="attachOtherCategoryModalLabel" *ngIf="layer">Attach layer {{layer.name}} to a
            category</h3>
          <button type="button" class="close" #closebutton data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
          <div class="form-group">
            <label for="categorySelect">Choose what category to attach <span style="color: red">*</span> </label>
            <select id="categorySelect" class="form-control" #selectedCategory [(ngModel)]="idCategory"
              name="nameCategoryAttach" #name="ngModel" required>
              <option *ngFor="let category of categories" class="custom-select" [value]="category.id">{{category.name}}
              </option>
            </select>
            <small id="categorySmallText" class="form-text text-muted">Please select a category from the list</small>
          </div>

        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" id="btnCancelCategoryOther"
            (click)="resetForm(attachForm)">Cancel
          </button>
          <button type="button" class="btn btn-primary" id="btnSaveCategoryOther" (click)="onSubmit(attachForm)"
            [disabled]="!idCategory">Save
          </button>
        </div>

      </div>
    </div>
  </div>
</form>
