<div class="modal fade" id="updateCategoryModal" tabindex="-1" aria-labelledby="updateCategoryModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="updateCategoryModalLabel">Update category</h3>
        <button type="button" class="close" #closebutton data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="updateCategoryForm" (ngSubmit)="onSubmit()" novalidate>
          <div class="form-group">
            <label for="nameCategoryInput">Name <span style="color: red">*</span></label>
            <input type="text" id="nameCategoryInput" class="form-control"
                   formControlName="nameCategory"
                   aria-describedby="nameCategory"
                   required
                   minlength="2"
                   maxlength="50"
                   autofocus>
            <small id="nameCategoryRequired" class="invalid" [hidden]="!
                   updateCategoryForm.controls.nameCategory.invalid">Name of category is
                               required ans must be longer than 2 letters, shorter than 50 letters and not only whitespace </small>
            <small id="nameCategory" class="form-text text-muted">Name of category to update </small>
          </div>
          <div class="form-group">
            <label for="descriptionCategoryTextArea">Description <span style="color: red">*</span></label>
            <textarea id="descriptionCategoryTextArea" class="form-control"
                      formControlName="descriptionCategory"
                      aria-describedby="descriptionCategory"
                      required
                      minlength="3"
                      autofocus></textarea>
            <small id="descriptionCategoryRequired" class="invalid" [hidden]="!
            updateCategoryForm.controls.descriptionCategory.invalid">Description of category is
                        required and longer than 3 letters, and not only whitespace </small>
            <small id="descriptionCategory" class="form-text text-muted">Description of category to update </small>
          </div>
          <div class="modal-footer">
            <button id="btnCancelUpdateCategory" type="button" class="btn btn-secondary" data-dismiss="modal" (click)="resetForm()">Cancel</button>
            <button id="btnUpdateCategory" type="submit" class="btn btn-primary" [disabled]="updateCategoryForm.invalid">Save</button>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>
