<div class="container">
  <div class="row justify-content-center" style="padding-top: 2%">
    <div class="card text-center" *ngIf="userFound">
      <div class="card-header">
        <button class="btn" style="float: left; cursor: auto">Update user profil </button>
        <button class="btn btn-danger" style="float: right" data-toggle="modal" data-target="#deleteUserModal"> Delete
          this user</button>
      </div>
      <div class="card-body">
        <form (ngSubmit)="onSubmit()">
          <div class="form-group row">
            <label for="firstname" class="col-4 col-form-label">First Name</label>
            <div class="col-8">
              <div class="input-group">
                <input id="firstname" name="firstname" type="text" class="form-control" [(ngModel)]="user.firstname">
                <div class="input-group-append">
                  <span class="input-group-text">
                    <i aria-hidden="true" class="bi bi-people-fill"></i>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="lastname" class="col-4 col-form-label">Last Name</label>
            <div class="col-8">
              <div class="input-group">
                <input id="lastname" name="lastname" placeholder="name" type="text" class="form-control"
                  [(ngModel)]="user.lastname">
                <div class="input-group-append">
                  <span class="input-group-text">
                    <i aria-hidden="true" class="bi bi-people-fill"></i>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="email" class="col-4 col-form-label">Email</label>
            <div class="col-8">
              <div class="input-group">
                <input id="email" name="email" placeholder="mail address" type="text" class="form-control"
                  [(ngModel)]="user.email">
                <div class="input-group-append">
                  <span class="input-group-text">
                    <i aria-hidden="true" class="bi bi-envelope-fill"></i>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="password" class="col-4 col-form-label">Password</label>
            <div class="col-8">
              <div class="input-group">
                <input id="password" name="password" placeholder="set new password" type="password" class="form-control"
                  [(ngModel)]="user.password">
                <div class="input-group-append">
                  <span class="input-group-text">
                    <i aria-hidden="true" class="bi bi-shield-lock-fill"></i>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-12">
              <label>Rôle</label>
              <div class="custom-control custom-radio custom-control-inline">
                <input name="role" id="role_0" type="radio" class="custom-control-input" [(ngModel)]="user.role"
                  [checked]="user.role == 'ADMIN'" value="ADMIN">
                <label for="role_0" class="custom-control-label">Administrator</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input name="role" id="role_1" type="radio" class="custom-control-input" [(ngModel)]="user.role"
                  [checked]="user.role == 'EDITOR'" value="EDITOR">
                <label for="role_1" class="custom-control-label">Editor</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input name="role" id="role_2" type="radio" class="custom-control-input" [(ngModel)]="user.role"
                  [checked]="user.role == 'USER'" value="USER">
                <label for="role_2" class="custom-control-label">User</label>
              </div>
            </div>
          </div>
          <div class="form-group row justify-content-center">
            <div class="col-8">
              <button id="submit-button" name="submit" type="submit" class="btn btn-block">Update</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div *ngIf="!userFound" class="alert alert-warning" role="alert">
      User not found !
    </div>
  </div>
</div>

<div *ngIf="user" class="modal fade" id="deleteUserModal" tabindex="-1" aria-labelledby="deleteUserModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="deleteUserModalLabel">Delete {{this.user.lastname }} {{this.user.firstname}}</h3>
        <button type="button" class="close" #closebutton data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <p><strong>You asked for deleting {{this.user.lastname }} {{this.user.firstname}}
            with the following information : </strong></p>
        <br>
        <p class="text-bg-ngms"><span class="label-ngms">Email : </span> {{ this.user.email }} </p>
        <p class="text-bg-ngms"><span class="label-ngms">Firstname : </span> {{ this.user.firstname }}</p>
        <p class="text-bg-ngms"><span class="label-ngms">Lastname : </span> {{ this.user.lastname }} </p>
        <p class="text-bg-ngms"><span class="label-ngms">Role : </span> {{ this.user.role }} </p>

        <br>
        <h5>Are you sure you want to delete this user ? This action is <span
            class="text-danger"><strong>irreversible</strong></span></h5>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No, cancel</button>
        <button type="button" class="btn btn-danger" (click)="deleteUser()">Yes, I confirm</button>
      </div>

    </div>
  </div>
</div>


<ngx-spinner bdColor="rgba(0, 0, 0, 1)" size="medium" color="#736a6a" type="ball-spin-fade" [fullScreen]="false">
  <p style="color: white"> Loading... </p>
</ngx-spinner>
