<div class="modal fade" id="addCategoryModal" tabindex="-1" aria-labelledby="addCategoryModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="addCategoryModalLabel">Add category</h3>
        <button type="button" class="close" #closebutton data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="addForm" (ngSubmit)="onSubmit()" novalidate>
          <div class="form-group">
            <label for="nameCategoryInputAdd">Name <span style="color: red">*</span></label>
            <input type="text" id="nameCategoryInputAdd" class="form-control"
                   placeholder="Example: Police"
                   formControlName="nameCategory"
                   minlength="2"
                   maxlength="50"
                   aria-describedby="nameCategory" required autofocus>
            <small id="nameCategoryRequired" class="invalid" [hidden]="!
                   addForm.controls.nameCategory.invalid">Name of category is
              required and must be longer than 2 letters, shorter than 50 letters and not only whitespace </small>
          </div>
          <div class="form-group">
            <label for="descriptionCategoryTextAreaAdd">Description <span style="color: red">*</span></label>
            <textarea id="descriptionCategoryTextAreaAdd" class="form-control"
                      placeholder="Example: Category which contains Italy police stations"
                      formControlName="descriptionCategory"
                      aria-describedby="descriptionCategory"
                      minlength="3"
                      required autofocus></textarea>
            <small id="descriptionCategoryRequired" class="invalid" [hidden]="!
            addForm.controls.descriptionCategory.invalid">Description of category is
              required and longer than 3 letters, and not only whitespace </small>
          </div>
          <div class="modal-footer">
            <button id="btnCancelAddCategory" type="button" class="btn btn-secondary" data-dismiss="modal" (click)="addForm.reset()">Cancel</button>
            <button id="btnSaveCategory" type="submit" class="btn btn-primary" [disabled]="addForm.invalid">Save</button>
          </div>
        </form>
      </div>


    </div>
  </div>
</div>
