@import "src/assets/ngms-bootstrap-sass/ngms-variable";


#btnCancelAddCategory {
  background-color : $silver;
}

#btnSaveCategory {
  background-color : $emerland;
}

.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border: 1px solid #e95b58; /* red */
}
.btn.disabled, .btn:disabled {
  opacity: 0.30;
}
