
<div class="container">
  <br>

  <div class="row justify-content-center" >
  <div class="col-md-6">
  <div class="card">
  <header class="card-header" style="text-align: center;">
    <h4 class="card-title mt-2">Sign In</h4>
  </header>
  <article class="card-body">
  <form [formGroup]="userForm" (ngSubmit)="onSubmitForm()">
    <div class="fadeIn first justify-content-center">
      <img src="../../../.././../assets/imgs/CartoPoc.png" id="icon" alt="User Icon" />
    </div>

    <div class="form-group">
      <label>&nbsp;Email</label>
      <input type="email" class="form-control" placeholder="Email" formControlName="email">
    </div> <!-- form-group end.// -->


    <div class="form-group">
      <label>&nbsp;Password</label>
        <input class="form-control" type="password"  placeholder="Mot de passe" formControlName="password">
    </div> <!-- form-group end.// -->
      <div class="form-group">
          <button type="submit" class="btn btn-primary btn-block sign-in font-weight-bold"> Sign In  </button>
    </div> <!-- form-group// -->
    <ng-container *ngIf="!isValid && isSubmitted">
      <div class="alert alert-danger">Error</div>
    </ng-container>
  </form>
  </article> <!-- card-body end .// -->
  </div> <!-- card.// -->
  </div> <!-- col.//-->

  </div> <!-- row.//-->


  </div>
